
.icon-indent-left:before { content: '\e800'; } /* '' */
.icon-list:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e802'; } /* '' */
.icon-trophy:before { content: '\e803'; } /* '' */
.icon-award:before { content: '\e804'; } /* '' */
.icon-help-circled:before { content: '\e805'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */
.icon-cc-discover:before { content: '\f1f2'; } /* '' */